.App {
    text-align: center;
    background-color: mediumaquamarine;


    display: grid;
    grid-template-areas:
            "c c"
            "f f";
  grid-template-rows: 3fr 1fr;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;

    vertical-align: bottom;
}

.mainWindow {
    display: grid;
    grid-template-areas: "breeds facts";
    grid-template-columns: 2fr 1fr;
}